language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
before_install:
  pip install coveralls
# command to install dependencies
install:
  - python setup.py install
# command to run tests
script: 
  - nosetests tests hl7apy --with-doctest --with-coverage --cover-package hl7apy
after_success:
  - coveralls
#just build master branch
branches:
  only:
    - master
    - develop